fastapi == 0.63.0
pydantic>=1.2.0,<2.0.0
fastapi_camelcase == 1.0.2
setuptools >= 21.0.0
uvicorn[standard]
websockets
numpy
pyyaml >= 5.1
GitPython
requests
kubernetes
requests-async
python-jose
bcrypt
SQLAlchemy
psycopg2-binary
mead-baseline
