name: Publish to DockerHub 

on:
    push:
        branches:
        - 'master'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v2
          with:
              ref: ${{ github.head_ref }}
              token: ${{ secrets.MACHINE_PAT }}
        - name: Build & Push midgard Docker image with CUDA 10.1
          uses: docker/build-push-action@v1
          with:
              username: ${{ secrets.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_PASSWORD }}
              repository: interactions/odin-ml
              dockerfile: Dockerfile.cuda101
              path: src/midgard
              tags: latest

